<!doctype html>
<html lang="en">

<head>
    <title>DeliverMe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <% }); %>

    <% } %>

    <% if(success_msg !=''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <% if(error_msg !=''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>


    <% if(error !=''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>



    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <h1 class="mt-4">Deliver Me</h1>
    <p class="lead mb-3">Welcome <%= user.user_name %>

        <%prods.forEach( function(item,index) 
        {%>
        <%if(results.length > index){%>
    <div class="card m-4" style="width: 18rem;">
        <img class="card-img-top" src=" /<%=item.pimage%>" alt=" Card image cap">
        <div class="card-body">
            <h5 class="card-title">user Name : <%= results[index].user_name %><%= index %></h5>
            <h5 class="card-title">Product Name : <%= item.pname%></h5>
            <h5 class="card-title">Deliver At : <%= item.address1%></h5>
            <h5 class="card-title">Available at : <%= item.address2%></h5>

            <h6 class="card-subtitle mb-2 text-muted">Max allowed price : <%= item.pprice%></h6>
            <p class="card-text"> <%= item.pdesc%></p>

            <form method="POST" action="/users/add_req"> <input type="hidden" name='id' value=' <%= item.id%>' />
                <input type="hidden" name='buyer' value='<%= item.buyer%>' />
                <button id='<%= item.id%>' class="btn btn-success"> Have a doubt? Chat with him.</button></form>
        </div>
    </div>
    <%}%>
    <%})%>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>