

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Del me</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="DeliverMe">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
 <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login_style.css" type="text/css" media="all">

    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all">
 
	<link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
	 

</head>
 
<body>
 

      <section class="main">
        <div class="layer">
          
          <div class="bottom-grid">
            <div class="logo">
                      <h1> <a href="/"><span class="fa fa-key"></span> DeliverMe</a></h1>
                  </div>
                  <div class="links">
                    <ul class="links-unordered-list">
                      <li class="active">
                        <a href="/users/login" class="">Login</a>
                      </li>
                      <li class="active">
					
                      </li>
                      <li class="">
                        <a href="#" class="">About Us</a>
                      </li>
                      <li class="">
                        <a href="/users/register" class="">Register</a>
                      </li>
                    </ul>
                  </div>

                </div>
              
          <div class="content-w3ls">
            <div class="text-center icon">
              <span></span>
            </div>

      <% if(typeof errors != 'undefined') { %>
        <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
  
        <% }); %>
  
        <% } %>
  
        <% if(success_msg !=''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
  
        <% if(error_msg !=''){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
  
  
        <% if(error !=''){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        
            <div class="content-bottom">
                      <br>
                      <br>
           
                    

      <form action="/users/register" method="POST">

        <div class="field-group">
          <span class="fa fa-user" aria-hidden="true"></span>
          <div class="wthree-field">
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" required
            value="<%= typeof name != 'undefined' ? name : '' %>" />
                      </div>
        </div>

        <div class="field-group">
          <span class="fa fa-user" aria-hidden="true"></span>
          <div class="wthree-field">
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required
            value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
        </div>

        <div class="field-group">
          <span class="fa fa-user" aria-hidden="true"></span>
          <div class="wthree-field">
            <input type="phone" id="phone" name="phone" class="form-control" placeholder="Enter phone number" required
            value="<%= typeof phone != 'undefined' ? phone : '' %>" />
                      </div>
        </div>

        <div class="field-group">
          <span class="fa fa-user" aria-hidden="true"></span>
          <div class="wthree-field">
            <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
            required value="<%= typeof password != 'undefined' ? password : '' %>" />
                      </div>
        </div>

        <div class="field-group">
          <span class="fa fa-user" aria-hidden="true"></span>
          <div class="wthree-field">
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
        required value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                      </div>
        </div>


        <div class="wthree-field">
          <button type="submit" class="btn">Register</button>
        </div>
                  

                  <ul class="list-login">
           
                  </ul>
                  
        <ul class="list-login-bottom">
          <li >
              <a href="/users/login"> Have an Account?  Login</a>
          </li>
        
          <li class="clearfix"></li>
        </ul>
          
                    
                </form>
            
			</div>
		</div>
	
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
</body>

</html>